<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime
      version="v4.0"
      sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="LogDbContext" connectionString="metadata=res://*/ModEntity.csdl|res://*/ModEntity.ssdl|res://*/ModEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=LogDatabase;Persist Security Info=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding
          name="BasicHttpBinding_IMSDeployAllTheThings" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint
        address="http://localhost:1955/MSDeployAllTheThings.svc"
        binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IMSDeployAllTheThings"
        contract="ServiceReference1.IMSDeployAllTheThings"
        name="BasicHttpBinding_IMSDeployAllTheThings" />
    </client>
  </system.serviceModel>
</configuration>